*{
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease;
}
:root{
    --hf-bg:#023f37;
    --b-bg:#bbd8d428;
    --sec-heading:rgb(1, 88, 88);
    --text-primary:beige;
}

header,footer{
    padding: 20px;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--hf-bg);
}
header h1 a{
    color: beige;
    font-size: .4em;
    text-decoration: none;
}
.transform-container{
    margin: 50px ;
    border: 2px solid teal;
    background-color: var(--b-bg);
    border-radius: 10px;
}
.section-heading,.section-desc{
    padding: 10px;
    color: var(--sec-heading);
    text-align: center;
    text-decoration: underline;
    /* border: 2px solid teal; */
}
.section-desc{
    padding: 10px 40px;
    font-size: 1.2em;
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
.box{
    margin: 70px 40px 30px;
    width: 150px;
    height: 150px;
    text-transform: capitalize;
    text-align: center;
    background-color: #7b838260;
    border: 2px solid rgba(3, 150, 164, 0.312);
    border-radius: 5px;
}
.scale,.skew,.translate,.rotate,.matrix{
    background-color: #1c80ab59;
    line-height: 150px;
}
.box:hover .scale-x{
    transform: scaleX(2);
}
.box:hover .scale-y{
    /* transform: scaleY(.5); */
    transform: scaleY(2);
}
.box:hover .scale-xy{
    transform: scale(2);
    /* transform: scale(2, 3); */
    /* transform: scale(1.5, 1.5); */
}

/* skew */
.box:hover .skew-x{
    /* transform: skewX(20deg); */
    transform: skewX(-20deg);
}
.box:hover .skew-y{
    transform:skewY(30deg);
    /* transform: skewY(90deg); */
}
.box:hover .skew-xy{  
    /* transform: skew(30deg,20deg);   */
    transform:skew(50deg); 
    /* if the 2nd value is not assigned it will only work on x axis */
}
/* translate */
.box:hover .translate-x{
    transform: translateX(2em);
    /* transform: translateX(60px);
    transform: translateX(-60px); */
}
.box:hover .translate-y{
    /* transform: translateY(2em); */
    /* transform: translateY(60px); */
    transform: translateY(-60px);
}
.box:hover .translate-xy{
    transform: translate(60px, 40px);
    transform: translate(2,2);
}

/* rotate */
.box:hover .rotate-x{
    transform: rotateX(40deg);
    transform: perspective(500px) scaleZ(2) rotateX(45deg);

}
.box:hover .rotate-y{
    transform: rotateY(-40deg);  
    transform: perspective(500px) scaleZ(2) rotateY(45deg);

}
.box:hover .rotate-xy{
    transform: rotate(40deg);
    transform: rotate(270deg)
}
/* matrix */
.box:hover .matrix-2d{
    transform: matrix(1, -1, 0, 1, 0, 0);
}
.box:hover .matrix-3d{
    transform: matrix3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.4999999999999999, 0, 0.14644660940672619, -0.4999999999999999, 0.8535533905932737, 0, 22.62994231491119, -20.3223304703363, 101.3700576850888, 1);

}